@{
    ViewBag.Title = "StoreDetails";
}

<div class="row">
    <div class="col-md-12">
        <h2>
            Welcome to Store: @Model.storenumber<br />
            @Model.storename
        </h2>
    </div>
</div>
